.cgdb/readline_history.txt
.cgdb/readline_history.txt
.DS_Store
.subversion/auth/
.svn
*.[oa]
*.out
*~
,*
.*.sw?
cscope.*out
tags
*.pyc
.vnc
rel-preload_image.bin
rel-root_fs
rel-firmware.bin
rel-artifacts
rootfs-owrt
rootfs-ubnt
