#!/bin/sh  $HOME/.inputrc
# 1. List current readline function names and bindings
#  $ bind -p 
# 2. re-read-init-file, reload .inputrc
#  "\C-x\C-r"

set meta-flag on 
set input-meta on 
set output-meta on 
set convert-meta off 
set show-all-if-ambiguous on

"\e[1~": beginning-of-line 
"\e[2~": yank-nth-arg 
"\e[3~": delete-char 
"\e[4~": end-of-line 
"\e[5~": history-search-backward 
"\e[6~": history-search-forward 

# Ctrl + w/b : word movement
"\C-f": forward-word
"\C-b": backward-word 

# Ctrl+ <-/-> word movement
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

# Ctrl + p/n : history search
"\C-p": history-search-backward 
"\C-n": history-search-forward
